@import "compass_twitter_bootstrap";

body {
	background-image: url(/images/bg.jpg);
}

.offset-top {
	margin-top: 3em;
}

#about-page{
	border-width:1px;
}

.facilityList{
	list-style: none;
}

#map{
	width: 400px;
	height: 400px;
}

#map-container{
	border: 1px solid black;
}